<div class="container-fluid">
  <div class="image-container">
      <img id="image" src="./../assets/weather-climate.jpg" class="img-responsive"/>
   
        <div class="heading-text col-sm-12">
          <h1 >Check Weather of Your City</h1>
        </div>

        <div class="clearfix"></div>
    
        <div class="descrip-text col-sm-12">     
          <p> Get latest weather updates by entering city name </p>
          <p> OR!, you can click on 'Use Current Location' </p>
        </div>
  </div>
</div>

<div class="clearfix"></div>

<div class="container city-select" style="margin-top: 50px;">
 
  <ng4geo-autocomplete  (componentCallback)="citySelected($event)" [userSettings]="userSettings2" ></ng4geo-autocomplete>
    <button type="btn" class="btn btn-primary" (click)="displayWeather()" >Submit</button>
    <span *ngIf="citySelectError" class="alert-danger"> Please select city name </span>
  
</div>